@font-face {
    font-family: "Jura_Med";
    src: url(./fonts/Jura/Jura-Medium.ttf);
}

@font-face {
    font-family: "Jura_Bold";
    src: url(./fonts/Jura/Jura-Bold.ttf);
}

body {
    margin: 0;
    overflow-x: hidden;
    background-color: #050213;
}

header {
    background-color: #000C20;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.header .center {
    text-align: center;
}

.center{
    display: flex;
}

.myblog {
    color: white;
    font-family: "Jura_Med";
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}

.search-input {
    width: 50vw;
    max-width: 400px; /* Максимальная ширина для ввода */
    height: 4vh;
    border: 2px solid white;
    border-radius: 13px;
    background-color: #061e42;
    font-size: 16px;
    color: white;
    font-family: "Jura_Med";
    padding-left: 10px;
}

.search-input:focus {
    outline: none;
    box-shadow: 0 0 7px blue;
}

.input_button{
    background-image: url(./img/icons8-лупа-ios-17-outlined/icons8-лупа-100.png);
    background-color: #000C20;
    background-size: cover;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    border: none;
    margin-left: 10px;
    cursor: pointer;
    margin-top: 5px;
}

.account {
    text-decoration: none;
}

main {
    background-color: #050213;
}

.main {
    display: flex;
    flex-direction: row;
}

.spisok {
    background-color: #061e42;
    max-width: 220px;
    position: sticky;
    top: 0; /* Фиксация верхней части */
    width: 20vw;
    height: 90vh;
}

.ul {
    list-style: none;
    font-family: "Jura_Med";
    color: white;
    font-size: 20px;
    text-align: left;
    border-bottom: 1px solid white;
    padding: 0;
    padding-left: 10px;
}

.li {
    padding-bottom: 10px;
}

.sylka {
    text-decoration: none;
    color: white;
}

.sylka:hover {
    color: #5481ff;
}

.sylka:active {
    color: #275aa5;
}

.ul_bottom {
    list-style: none;
    font-family: "Jura_Med";
    color: white;
    font-size: 20px;
    text-align: left;
    position: relative;
    top: 39vh;
    padding: 0;
    padding-left: 10px;
}

.grid_video {
    display: grid;
    padding-top: 20px;
    grid-template-columns: repeat(3, 1fr); /* Три колонки фиксированной ширины */
    gap: 20px; /* Отступ между карточками */
}

.img_card {
    width: 100%;
    border-radius: 15px;
}

.card {
    padding: 15px;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.03);
}

.card_h2 {
    font-family: "Jura_Med";
    color: white;
    font-size: 17px;
    margin: 0;
}

.card_p {
    font-family: "Jura_Med";
    color: white;
    font-size: 10px;
    margin-top: 8px;
}

footer {
    background-color: #050213;
}

/* Медиа-запросы для адаптивности */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .myblog, .account {
        margin-bottom: 10px;
    }

    .search-input {
        width: 90vw; /* Увеличение ширины для маленьких экранов */
    }

    .spisok {
        display: none; /* Скрытие бокового меню на маленьких экранах */
    }

    .grid_video {
        grid-template-columns: repeat(2, 1fr); /* Две колонки для экранов меньше 768px */
    }
}

@media (max-width: 480px) {
    .search-input {
        font-size: 14px;
        height: 3vh;
    }

    .card_h2, .card_p {
        font-size: 14px;
    }

    .grid_video {
        grid-template-columns: 1fr; /* Один столбец для самых маленьких экранов */
    }
}
