
@font-face {
    font-family: "Jura_Med";
    src: url(./fonts/Jura/Jura-Medium.ttf);
}

@font-face {
    font-family: "Jura_Bold";
    src: url(./fonts/Jura/Jura-Bold.ttf);
}

body{
    margin: 0;
    overflow-x: hidden;
}

header{
    background-color: #000C20;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.header .center {
    text-align: center;
}

.myblog{
    color: white;
    font-family: "Jura_Med";
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}


.search-input {
    width: 50vw;
    height: 4vh;
    border: 2px solid white;
    border-radius: 13px;
    background-color: #1E1156;
    font-size: 16px;
    color: white;
    font-family: "Jura_Med";
    padding-left: 10px;
}

.search-input:focus {
    outline: none;
    box-shadow: 0 0 7px blue;
}

.account{
    text-decoration: none;
}

main{
    background-color: #050213;
}

.main{
    display: flex;
    flex-direction: row;
}

.spisok{
    background-color: #0F0C29;
    position: sticky;
    width: 20vw;
    height: 90vh;
}

.ul{
    list-style: none;
    font-family: "Jura_Med";
    color: white;
    font-size: 20px;
    text-align: left;
    border-bottom: 1px solid white;
    padding: 0;
    padding-left: 10px;
}

.li{
    padding-bottom: 10px;
}

.sylka{
    text-decoration: none;
    color: white;
}

.sylka:hover{
    color: #4a2bd4;
}

.sylka:active{
    color: #1E1156;
}

.ul_bottom{
    list-style: none;
    font-family: "Jura_Med";
    color: white;
    font-size: 20px;
    text-align: left;
    position: relative;
    top: 34vh;
    padding: 0;
    padding-left: 10px;
}

.grid_video{
    display: grid;
    padding-top: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}

.img_card{
    width: 100%;
}

.card{
    width: 90%;
    height: 80%;
    padding-left: 15px;
    transition: 1s;
}

.card:hover{
    transform: scale(1.03);
}

.card_h2{
    font-family: "Jura_Med";
    color: white;
    font-size: 17px;
    margin: 0;
}

.card_p{
    font-family: "Jura_Med";
    color: white;
    font-size: 10px;
    margin-top: 8px;
}