@font-face {
  font-family: "Jura_Med";
  src: url(./fonts/Jura/Jura-Medium.ttf);
}

@font-face {
  font-family: "Jura_Bold";
  src: url(./fonts/Jura/Jura-Bold.ttf);
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: #050213;
}

header {
  background-color: #000C20;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.header .center {
  text-align: center;
}

.center{
  display: flex;
}

.myblog {
  color: white;
  font-family: "Jura_Med";
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
}

.search-input {
  width: 50vw;
  max-width: 400px; /* Максимальная ширина для ввода */
  height: 4vh;
  border: 2px solid white;
  border-radius: 13px;
  background-color: #061e42;
  font-size: 16px;
  color: white;
  font-family: "Jura_Med";
  padding-left: 10px;
}

.search-input:focus {
  outline: none;
  box-shadow: 0 0 7px blue;
}

.input_button{
  background-image: url(./img/icons8-лупа-ios-17-outlined/icons8-лупа-100.png);
  background-color: #000C20;
  background-size: cover;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  border: none;
  margin-left: 10px;
  cursor: pointer;
  margin-top: 5px;
}

.account {
  text-decoration: none;
}

main {
  background-color: #050213;
}

.main {
  display: flex;
  flex-direction: row;
}

.spisok {
  background-color: #061e42;
  max-width: 220px;
  position: sticky;
  top: 0;
  width: 20vw;
  height: 100vh;
}

.ul {
  list-style: none;
  font-family: "Jura_Med";
  color: white;
  font-size: 20px;
  text-align: left;
  border-bottom: 1px solid white;
  padding: 0;
  padding-left: 10px;
}

.li {
  padding-bottom: 10px;
}

.sylka {
  text-decoration: none;
  color: white;
}

.sylka:hover {
  color: #5481ff;
}

.sylka:active {
  color: #275aa5;
}

.ul_bottom {
  list-style: none;
  font-family: "Jura_Med";
  color: white;
  font-size: 20px;
  text-align: left;
  position: relative;
  top: 50vh;
  padding: 0;
  padding-left: 10px;
}

.channel_info {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.channel_name {
  font-family: "Jura_Med";
  color: white;
  margin-bottom: 5px;
}

.channel {
  display: flex;
  flex-direction: row;
  margin-left: 2vw;
  margin-bottom: 15px;
}

.info {
  font-family: "Jura_Med";
  color: white;
  margin: 2px;
  margin-bottom: 25px;
}

.logo {
    height: 100px; /* Фиксированная высота */
    width: auto; /* Ширина автоматически подстраивается */
}

.banner {
    max-width: 98%; /* Максимальная ширина 90% от родителя */
    border-radius: 15px;
    height: auto; /* Высота автоматически подстраивается */
    max-height: 250px; /* Ограничение максимальной высоты */
    display: block; /* Делаем элемент блочным для центровки */
    margin: 0 auto; /* Центрируем по горизонтали */
    object-fit: cover; /* Обеспечивает правильное отображение изображения */
}


.toggle-button {
  display: none; /* Скрываем оригинальный input */
}

.button {
  padding: 10px 20px;
  font-family: "Jura_Med";
  font-size: 16px;
  color: white;
  background-color: #061e42;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-button:checked + .button {
  background-color: #2c4691; /* Изменяем цвет при нажатии */
  box-shadow: 0 0 4px blue;
}

.toggle-button:checked + .button::after {
  content: "Вы подписаны"; /* Изменяем текст при нажатии */
}

.button::after {
  content: "Подписаться"; /* Изначальный текст */
}

.main_channel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.main_video {
  width: 35vw;
  height: 45vh;
  border-radius: 15px;
}

footer {
  background-color: #050213;
}

.main_video_on_channel {
  display: flex;
  gap: 2vw;
  margin: 0;
  padding: 10px;
  margin-left: 20px;
  border-bottom: 1px solid gray;
}

.main_video_name {
  font-family: "Jura_Med";
  color: white;
  margin: 0;
}

.kratkoe_pro_video {
  display: flex;
  flex-direction: column;
}

.prosmotry {
  color: gray;
  font-family: "Jura_Med";
  margin: 0;
  margin-top: 10px;
}

.opisanie_kratkoe {
  white-space: pre;
  color: white;
  font-family: "Jura_Med";
  text-decoration: none;
  margin: 0;
}

.grid_video {
  display: grid;
  padding-top: 20px;
  grid-template-columns: repeat(3, 1fr); /* Три колонки фиксированной ширины */
  gap: 20px; /* Отступ между карточками */
}

.img_card {
  width: 100%;
  border-radius: 15px;
}

.card {
  padding: 15px;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.03);
}

.card_h2 {
  font-family: "Jura_Med";
  color: white;
  font-size: 17px;
  margin: 0;
}

.card_p {
  font-family: "Jura_Med";
  color: white;
  font-size: 10px;
  margin-top: 8px;
}

/* Медиа-запросы для адаптивности */
@media (max-width: 768px) {
  .main {
    flex-direction: column;
  }

  .spisok {
    width: 100%;
    height: auto;
  }

  .grid_video {
    grid-template-columns: 1fr; /* Одна колонка */
  }

  .ul {
    display: none;
  }

  .ul_bottom {
    display: none; /* Скрыть "О нас" и кнопки */
  }

  .main_video_on_channel {
    display: flex;
    flex-direction: column;
  }

  .opisanie_kratkoe {
    display: none;
  }

  .banner {
    width: 90%;
    height: auto;
    border-radius: 5px;
  }

  .main_video {
    width: 90%;
    height: auto;
  }
}

@media (max-width: 480px) {
  .search-input {
    font-size: 14px;
    height: 3vh;
    width: 100vw;
    margin: 10px;
    padding: 5px;
  }

  .account{
      display: flex;
      padding-left: 17px;
  }

  .center{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

